In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('C:\\DATA SETS\\events.csv')

In [11]:
df.head()

,event,tag,sport,sport_code,sport_url
0,Men's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
1,Women's Individual,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
2,Men's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
3,Women's Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery
4,Mixed Team,archery,Archery,ARC,https://olympics.com/en/paris-2024/sports/archery

In [15]:
print(df.columns)

Index(['event', 'tag', 'sport', 'sport_code', 'sport_url'], dtype='object')

In [17]:
filtered_df = df[df['sport'] == 'Basketball']
filtered_df

,event,tag,sport,sport_code,sport_url
74,Men,basketball,Basketball,BKB,https://olympics.com/en/paris-2024/sports/bask...
75,Women,basketball,Basketball,BKB,https://olympics.com/en/paris-2024/sports/bask...

In [19]:
grouped_df = df.groupby('sport')['event'].count()
grouped_df

sport
Archery                   5
Artistic Gymnastics      14
Artistic Swimming         2
Athletics                48
Badminton                 5
Basketball                2
Basketball 3x3            2
Beach Volleyball          2
Boxing                   13
Breaking                  2
Canoe Slalom              6
Canoe Sprint             10
Cycling BMX Freestyle     2
Cycling BMX Racing        2
Cycling Mountain Bike     2
Cycling Road              4
Cycling Track            12
Diving                    8
Equestrian                6
Fencing                  12
Football                  2
Golf                      2
Handball                  2
Hockey                    2
Judo                     15
Marathon Swimming         2
Modern Pentathlon         2
Rhythmic Gymnastics       2
Rowing                   14
Rugby Sevens              2
Sailing                  10
Shooting                 15
Skateboarding             4
Sport Climbing            4
Surfing                   2
Swimming                 35
Table Tennis              5
Taekwondo                 8
Tennis                    5
Trampoline                2
Triathlon                 3
Volleyball                2
Water Polo                2
Weightlifting            10
Wrestling                18
Name: event, dtype: int64

In [21]:
filtered_df.to_csv('filtered_data.csv', index=False)

In [23]:
grouped_df.to_csv('grouped_data.csv', index=True)